/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

body {
	background-color: #b4b4b4;
	color: #2c2c2c;
	font:  100% "Trebuchet MS",Verdana,sans-serif;
	padding-bottom: 20px;
}

h1, h2, h3, h4, h5, .logo {
	color:#3a3939;
	font-weight: bold;

}
h1 {
	font-size: 2.0em;
	margin-bottom: 0.75em;
	text-transform: lowercase;
}
h2 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
	text-transform: lowercase;
}
h3 {
	color: #424242;
	font-size: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-transform: lowercase;
	padding: 0 0 0 7.8125%;
}
h4 {
	color: #4c4c4c;
	font-size: .8em;
	margin-bottom: 0.5em;
	text-transform: lowercase;
	padding: 0 0 0 0px;
}
h5 {
	color: #ececec;
	font-size: 1em;
	margin-bottom: 0.5em;
	text-transform: lowercase;
	padding: 0 0 0 25px;
}
p {
    margin: 0 0 0.5em;
    padding-right: 10px;
    font-size: 0.8em;
    color: #5e5e5e;
}
a {
    padding: 0.2em;
}
a:link {
    color: #AF3A11;
    text-decoration: none;
}
a:visited {
    color: #AF3A11;
    text-decoration: none;
}
a:focus, a:hover, a:active {
    
    text-decoration: underline;
}
a.current:hover {
    text-decoration: none;
}
a.current:hover {
    cursor: default;
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
	background-color: #b4b4b4;
	height:2.4em;
	
}
footer {
	background-color: #b4b4b4;
	height: 1.4em;
}
.logo {
    float: left;
    font-size: 1.75em;
    margin: 0;
}
.logo a {
    color: #000000;
    padding: 0 0 0 0.2em;
}
.logo a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #AF3A11;
    text-decoration: none;
}
#bbt {
	font-size: 0.5em;	
	color: #dedede;
	font-weight: normal;
	
}
#masthead div {
	float:right;
	padding: 1.2em .25em .25em 0;
}
.nav li {
    float: left;
    font-size: 0.6em;
    padding: 0 3em 0 .25em;
}
.nav li a {
    font-size: 1.5em;
}
.nav li:first-child {
    list-style: none outside none;
    padding-left: 0;
}
.nav li:last-child {
    padding-right: 0;
}
.nav2 li a {
    font-size: .8em;
    padding: 0 7.8125% 6.25% 9.375%;
}

.overview {
	padding: 7.8125% 7.8125% 3.125% 7.8125%;
}
.about {
	font-style: italic;
	padding: 7.8125% 7.8125% 7.8125% 7.8125%;
}

#site {

    width: 93.75%;
}
.page {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 100%;
}
.main {
    float: left;
    width: 35.555556%;

}
.related span {
	color: #AF3A11;
	font-size: 0.9em; 
}
.related {
    background-color: #f4f4f4;
    margin-left: 35.666667%;
    padding: 1.587302% 1.587302% 1.587302% 1.587302%;
}